[submodule "neon"]
	path = neon
	url = https://github.com/neondatabase/neon.git
[submodule "postgres"]
	path = postgres
	url = https://github.com/postgres/postgres.git
[submodule "pgvector"]
	path = pgvector
	url = https://github.com/pgvector/pgvector.git
