/target
neond.iml
.idea/
.env

neon_daemon_data/

.junie/
.claude/
.cursor/

daemondata/

web/dist/
web/node_modules/

landing/node_modules/
landing/.vuepress/.cache/
landing/.vuepress/.temp/
landing/.vuepress/dist/